.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 296px;
  padding: 24px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 8px;
  background: #fff;
  /* box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.container-form {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.form-input,
.form-comment {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #808080;
  /* background-color: transparent;
  outline: transparent; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 360px;
  height: 40px;
}

.form-comment {
  display: block;
  height: 80px;
  width: 360px;
  /* resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); */
}

.form-input:hover,
.form-comment:hover {
  border-color: #4e75ff;
}

/* .form-comment::placeholder {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 5;
  letter-spacing: 0.04em;
} */

.container-form-textarea {
  margin-bottom: 16px;
}

.butn {
  display: block;
  border-radius: 8px;
  background-color: #4e75ff;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  width: 95px;
  height: 40px;
  border: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  font-family: Montserrat;
  font-style: normal;

  /* display: inline-flex; */
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.butn:hover,
.butn:focus {
  border: #6c8cff;
  background-color: #6c8cff;
}
